<style type="text/css">


h2{
font-size:1.2em;
font-family:"arial";
text-align:left;
}


table, td, th{
border-collapse:collapse;
border:1px solid black;
}

th.coverage{
font-family:"arial";
font-size:70%;
background-color:#202020;
color:white;
}

td.coverage{
font-family:"arial";
font-size:80%;
background-color:#FFFFFF;
}

td.sip_tech{
font-family:"arial";
font-size:80%;
color:#00BFFF;
background-color:#202020;
}

td.std_tech{
font-family:"arial";
font-size:80%;
color:white;
background-color:#202020;
}

td.totals{
font-family:"arial";
font-size:80%;
color:white;
background-color:#202020;
}

th.personnel{
width:40px;
font-family:"arial";
font-size:70%;
background-color:#202020;
color:white;

}


td.personnel1{
font-family:"arial";
font-size:80%;
background-color:#FFFFFF;
}

td.personnel2{
font-family:"arial";
font-size:80%;
background-color:#E8E8E8;
}


table.key{
border=0px;
}

.schedhead th{
white-space:nowrap;
text-align:left;
font-size:80%;
background-color:#E5E5E5;

}

.nowrap td{
white-space:nowrap;
text-align:left;
font-size:80%;
background-color:#F2F2F2;

}

.bluetext td{
color:blue;
white-space:nowrap;
text-align:left;
font-size:80%;
background-color:#F2F2F2;

}



h3{
font-size:1.0em;
font-family:"arial";
color:blue;
text-align:right;
}

h4{
font-size:1.0em;
font-family:"arial";
text-align:left;
}

body{
font-size:80%;
font-family:"arial";
background-color:#EEEEEE;
color:black;
}




	
</style>
