<style type="text/css">


#logtable{
border-collapse:collapse;
border: 1px solid black;
table-layout:fixed;
}

#pagetable{
padding:15px;
width:100%;
table-layout:fixed;
}

#leftcol{
font-family:"arial";
font-size:0.8em;
vertical-align:top;
width:30%;
}

#rightcol{
font-family:"arial";
font-size:0.8em;
vertical-align:top;
width:70%;
}

#leftlog{
color:white;
background-color:#000080;
font-family:"arial";
font-size:0.75em;
border: 1px solid #FFFACD;
white-space:nowrap;
}

#rightlog{
background-color:#FFFACD;
font-family:"arial";
font-size:0.8em;
border: 1px solid black;
word-wrap:normal;
}

#status{
background-color:00FF00;
font-family:"arial";
font-size:1.5em;
border: 1px solid black;
padding:15px;
color:black;
width:225px;
}

#trouble{
background-color:FF0000;
font-family:"arial";
font-size:1.5em;
border: 1px solid black;
padding:15px;
color:black;
}


h2{
font-size:1.2em;
font-family:"arial";
text-align:left;
}

h3{
font-size:1.0em;
font-family:"arial";
color:blue;
text-align:right;
}

h4{
font-size:1.0em;
font-family:"arial";
text-align:left;
}

body{
font-size:80%;
font-family:"arial";
background-color:#EEEEEE;
color:black;
}

table.fixed{
table-layout:fixed;
word-wrap:normal;
}

td.updates{
font-size:90%;
font-family:"arial";
color:black;
}

th.log{
font-size:70%;
font-family:"arial";
background-color:white;
color:black;
}


	
</style>
